* {
    font-family: 'Helvetica';
}
ul {
    list-style: none;
}
a {
    color: black !important;
}
a:hover {
    text-decoration: none !important;
}
.color-white {
    color: white !important;
}
img {
    width: 200px;
    max-width: 100%;
    height: auto;
}