{% extends 'admin/base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block content %}
    <h1>Create new Room</h1>

    {{ include('admin/room/_form.html.twig') }}

    <a href="{{ path('admin_room_list') }}" class="btn btn-secondary color-white">back to list</a>
{% endblock %}
